// 样式顺序不要调换

@import '../../styles/mixin';

.active() {
  border: none;
  border-top: 6PX solid @primary-color;
  color: white;
  background-color: transparent;
}

.container {
  .container();
  position: relative;

  .content {
    width: 100%;
    position: absolute;
    z-index: 99;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      width: 159px;
      height: 45px;
      cursor: pointer;
    }

    .btn {
      width: 142px;
      height: 42px;
      border-radius: 42px;
      line-height: 42px;
      font-size: 16px;
    }

    .menu {
      background-color: transparent;
      border-bottom: none;
      color: @menu-color;
      margin-top: 0;
      border-radius: 0;
      flex: 1;
      text-align: center;

      .linkWrap {
        padding: 20px;
      }

      :global {

        .rc-menu-item {
          min-width: 56px;
          text-align: center;
          border-bottom: none;
          padding: 0;

          a {
            color: @menu-color;
            text-decoration: none;
            display: block;
            line-height: 18PX;
          }

          &-active,
          &-selected {
            .active();
          }
        }

        .rc-menu-submenu {
          border-bottom: 0;
          cursor: pointer;

          &-active,
          &-selected {
            .active();
          }

          .rc-menu-submenu-title {
            background-color: transparent;
            padding: 20px;
          }
        }
      }
    }
  }

  &.sticky {
    position: fixed;
    background: white;
    width: 100%;
    top: 0;
    z-index: 99;
    max-width: 100%;

    // 脱离顶部后文字样式
    :global {

      // 被选中的有子菜单的文字的颜色
      .rc-menu-submenu-selected {
        .submenu-title-wrapper {
          color: @primary-color  !important;
        }
      }

      // 未被选中的带有子菜单的文字的颜色
      .rc-menu-submenu {
        .rc-menu-submenu-title {
          .submenu-title-wrapper {
            color: #666;
          }
        }
      }

      // 未被选中的没有子菜单的文字的颜色
      .rc-menu-item {
        a {
          color: #666 !important;
        }
      }

      // 被选中的没有子菜单的文字的颜色
      .rc-menu-item-selected {
        a {
          color: @primary-color  !important;
        }
      }



      // 鼠标悬浮时带有子菜单的文字的颜色
      .rc-menu-submenu-active {
        .submenu-title-wrapper {
          color: @primary-color  !important;
        }
      }

      // 鼠标悬浮时没有子菜单的文字的颜色
      .rc-menu-item-active {
        a {
          color: @primary-color  !important;
        }
      }
    }


    .content {
      position: initial;
      max-width: 1240px;
      margin: 0 auto;

      :global {
        .rc-menu-item {

          &-selected,
          &-active {
            a {
              color: @primary-color;
              display: block;
              line-height: 18PX;
            }
          }
        }

        .rc-menu-submenu {
          border-bottom: 0;
          cursor: pointer;

          &-active,
          &-selected {
            .active();
          }

          .rc-menu-submenu-title {
            background-color: transparent;
            padding: 20px;
          }
        }
      }
    }
  }
}

.popupMenu {
  background-color: transparent;

  .arrowRight {
    display: inline-block;
    font-size: inherit;
    vertical-align: baseline;
    text-align: center;
    text-transform: none;
    text-rendering: auto;
    position: absolute;
    right: 6PX; // px2rem插件的特殊写法
  }

  :global {
    .rc-menu-item {
      a {
        color: @menu-item-color;
        text-decoration: none;
        display: inline-block;
        width: 100%;
      }
    }
  }
}

// 控制当前所在页面的selected菜单样式
:global {


  // 鼠标移入子菜单的样式
  .rc-menu-submenu {
    .rc-menu-submenu-active {
      .rc-menu-submenu-title {
        background-color: rgba(32, 122, 242, 0.2);
      }
    }
  }

  .rc-menu-submenu-selected,
  .rc-menu-submenu-active {
    .rc-menu-submenu-title {
      background-color: transparent !important;
    }
  }

  // 三级菜单样式
  .rc-menu-sub {
    .rc-menu-item-selected {
      background-color: transparent !important;

      a {
        color: @primary-color  !important;
      }
    }
  }

  // 二级菜单样式
  .rc-menu-submenu {
    .rc-menu-submenu-selected {
      background-color: transparent !important;

      i {
        color: @primary-color;
      }

      .submenu-title-wrapper {
        color: @primary-color;
      }
    }
  }
}

.empty {
  display: none;
}

:global {
  .rc-menu-submenu {

    .rc-menu {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;
      border: none !important;
    }
  }

  // 覆盖全局fontSize
  .rc-menu-item {
    a {
      font-size: 18px;
    }
  }

  .submenu-title-wrapper {
    span {
      font-size: 18px;
    }
  }
}
