@import '../../styles/mixin';

.banner {
  position: relative;

  .img {
    width: 100%;
  }

  .content {
    position: absolute;
    left: calc((100vw - 1240px) / 2);
    top: 300px;
  }

  .text {
    font-size: 56px;
    color: white;
    line-height: 120px;
  }

  .subtext {
    font-size: 32px;
    line-height: 40px;
    color: @text-color-7;
  }
}

.banners {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .keywords,
  .text {
    font-size: 50px;
    color: white;
    line-height: 125px;
  }

  .keywords {
    width: 1010px;
    display: flex;
    justify-content: space-between;
  }
}


ul.slickDots {
  margin: 0;
  transform: translateY(-70px);

  .slick();
}
