@import '../../../../styles/mixin';

// 一张图片时清除left保持居中
.clearLeft {
  :global {
    .slick-track {
      position: relative;
      left: 0 !important;
    }
  }
}

.onePicWrap {
  left: 50%;
  margin-left: -480px;
  height: 480px;
  width: 100%;
  .clearLeft();

  .bannerText {
    width: 250% !important;
  }

}

@media screen and (max-width: 1600px) {
  .img {
    width: 750px !important;
    height: 420px !important;
  }

  .container {
    :global {
      .slick-track {
        position: relative;
        left: -400px !important;
      }
    }
  }

  .onePicWrap {
    left: 50%;
    margin-left: -394px !important;
    height: 480px;
    width: 100%;

    .clearLeft();

    .bannerText {
      width: 100% !important;
    }
  }
}

.container {
  background-image: url(/static/homepage/solutions/background@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 120px;



  :global {
    .slick-track {
      position: relative;
      left: -470px;
    }
  }

  .wrap {
    position: relative;
    width: 100%;

    .img {
      width: 960px;
      height: 480px;
    }

    .bannerText {
      position: absolute;
      left: 0;
      top: 120px;
      text-align: center;
      color: #fff;
      font-size: 28px;
      font-weight: 400;
      width: 96%;

      .content {
        font-size: 20px;
        opacity: 0.8;
        width: 70%;
        margin: 50px auto 0;
        line-height: 40px;
      }
    }
  }

  .header {
    .header();
    color: white;
  }

  .menu {
    margin: 0;
    padding: 0;
    padding-bottom: 60px;
    list-style-type: none;
    display: flex;
    justify-content: center;

    .menuitem {
      color: white;
      font-size: 24px;
      line-height: 33px;
      cursor: pointer;
      opacity: 0.5;

      &::after {
        content: '|';
        line-height: 33px;
        padding: 0 24px;
        color: white;
      }

      &:last-child {
        &::after {
          display: none;
        }
      }

      &.active {
        opacity: 1;

        &::after {
          opacity: 0.5;
        }
      }
    }
  }
}

ul.slickDots {
  margin: 0;
  transform: translateY(50px);

  .slick();
}
