@import '../../../../styles/mixin';

// 一张图片时清除left保持居中
.clearLeft {
  :global {
    .slick-track {
      position: relative;
      left: 0 !important;
    }
  }
}

.onePicWrap {
  left: 50%;
  margin-left: -480px;
  height: 480px;
  width: 100%;
  .clearLeft();

}

@media screen and (max-width: 1600px) {
  .img {
    width: 750px !important;
    height: 420px !important;
  }

  .container {
    :global {
      .slick-track {
        position: relative;
        left: -400px !important;
      }
    }
  }

  .onePicWrap {
    left: 50%;
    margin-left: -394px !important;
    height: 480px;
    width: 100%;

    .clearLeft();
  }
}

.container {
  background-image: url(/static/homepage/solutions/background@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 120px;


  :global {
    .slick-track {
      position: relative;
      left: -470px;
    }
  }

  .img {
    width: 960px;
    height: 480px;
  }

  .header {
    .header();
    color: white;
  }

  .menu {
    margin: 0;
    padding: 0;
    padding-bottom: 60px;
    list-style-type: none;
    display: flex;
    justify-content: center;

    .menuitem {
      color: white;
      font-size: 24px;
      line-height: 33px;
      cursor: pointer;

      &::after {
        content: '|';
        line-height: 33px;
        padding: 0 24px;
        color: white;

      }

      &:last-child {
        &::after {
          display: none;
        }
      }

      &.active {
        color: red;
      }
    }
  }
}

ul.slickDots {
  margin: 0;
  transform: translateY(50px);

  .slick();
}
