@import '../../styles/mixin';

.wrap {
  width: 56%;
  margin: 0 auto;

  .type {
    display: flex;
    margin: 40px 0;

    .text {
      font-size: 24px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.4);
      line-height: 33px;
    }

    .btns {
      font-size: 24px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.6);
      line-height: 33px;

      a {
        margin-left: 40px;
        cursor: pointer;
      }

      .active {
        color: #207AF2;
        font-weight: 700;
      }
    }
  }


}
