@unit: 100px;

.fixedMenu {
  position: fixed;
  list-style: none;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  li {
    height: @unit;
    margin-bottom: 2px;
    background-color: rgba(32, 122, 242, 0.7);
    color: #fff;
    font-size: 22px;
    width: 3*@unit;
    position: relative;
    transition: all 1s;
    transform: translateX(@unit*2);
    text-align: center;
    line-height: @unit;
    cursor: pointer;
    border-radius: 30px 0 0 30px;

    &:nth-child(1):hover {
      transform: translateX(0px);
    }

    &:nth-child(2):hover {
      transform: translateX(0px);
    }
  }

  .fixedText {
    width: @unit;
    height: @unit;
  }

  .tel {
    position: absolute;
    right: 0;
    top: 0;
    width: 2*@unit;
    height: 100%;
  }
}
