@import '../../styles/variables';

.link {
  width: 264px;
  height: 72px;
  border-radius: 36px;
  background: @link-button-color;
  color: white;
  font-size: 24px;
  line-height: 72px;
  text-align: center;
  text-decoration: none;
}