@import './variables';

.container() {
  margin: 0 auto;
  max-width: 1240px;
}

.header() {
  font-size: 40px;
  color: @title-color;
  line-height: 56px;
  padding-top: 120px;
  padding-bottom: 60px;
  text-align: center;
  width: 100%;
}

.desc() {
  text-align: left;
  font-size: 16px;
  color: @desc-color;
  line-height: 36px;
}