@primary-color: #207AF2;
@link-button-color: #207AF2;
@footer-color: #102953;
@bg-color: #F0F3F9;
@title-color: rgba(0, 0, 0, 0.8);
@subtitle-color: rgba(0, 0, 0, 0.6);
@desc-color: rgba(0, 0, 0, 0.4);
@menu-color: #D8D8D8;
@menu-item-color: #666;